*.o
*.lo
*.d
*.a
*.elf
*.so
.*.swp
*.dSYM
core.[0-9]*
yue
.cproject
.project
.settings/*
.DS_Store
lib/*
.obj
bin
*/.scon*
impl.*
*.bak
*.log
test/websocket/msgpack/*
test/websocket/msgpack/test/*
src/jni/LuajitConfig.mk
